<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Opera</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>New Opera</h1>
	<div>
		<form action="#" th:action="@{/opera}" th:object="${opera}"   method="post">
			<input type="text" th:field="*{titolo}" class="form-control" placeholder = "titolo" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" th:field="*{anno}" class="form-control" placeholder = "anno"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" th:field="*{tecnica}" class="form-control" placeholder = "tecnica"/>
			<div style="clear: both; display: block; height: 10px;"></div>	
			<input type="text" th:field="*{dimensione}" class="form-control" placeholder = "dimensione"/>
				<div style="clear: both; display: block; height: 10px;"></div>	
			<!--  <input type="text" th:field="*{autore}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>-->
			<input type="submit" th:action="@{/opera}" class="btn btn-success"></input>
		</form>
	</div>
</body>
</html>