<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Layout</title>
</head>
<body>
	<h1>Lista Opera</h1>
		<table>
		<tr>
			<th>Id</th>
			<th>Titolo</th>
			<th>Anno</th>
			<th>tecnica</th>
			<th>dimensione</th>
			<th>autore</th>
		</tr>
		<tr th:each="opera: ${opere}">
			<td th:text="${opera.id}"></td>
			<td th:text="${opera.titolo}"></td>
			<td th:text="${opera.anno}"></td>
			<td th:text="${opera.tecnica}"></td>
			<td th:text="${opera.dimensione}"></td>
			<td th:text="${opera.autore}"></td>
		</tr>
		</table>
</body>
</html>