<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>Gestione opere</title>
	<meta name = "viewport" content = "width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

</head>
<body>
	<div class ="container">
	<h1>Lista Opere</h1>
	<table>
		<tr>
			<th>Id</th>
			<th>Titolo</th>
			<th>Anno</th>
			<th>tecnica</th>
			<th>dimensione</th>
			<th>autore</th>
		</tr>
		<tr th:each="opera: ${opere}">
			<td th:text="${opera.id}"></td>
			<td th:text="${opera.titolo}"></td>
			<td th:text="${opera.anno}"></td>
			<td th:text="${opera.tecnica}"></td>
			<td th:text="${opera.dimensione}"></td>
			<td th:text="${opera.autore}"></td>
			<td><a th:href="@{'/opera/edit/' + ${opera.id} }">Modifica</a></td> 
			<td><a th:href="@{'/opera/delete/' + ${opera.id} }">Cancella</a></td> 
			
			
			<td><div class = "dropdown">
				<form action="#"  method="post">
				<button class = "btn btn-primary dropdown-toggle" type = "button" data-toggle= "dropdown">Assegna autore
					<span class = "caret"></span></button>
						<ul class = "dropdown-menu">
							<li th:each="autore: ${autori}" ><a th:href= "@{'/opera/assign/' + ${autore.id} + '_' + ${opera.id}}" th:text="${autore.nome}" ></a></li>
						</ul>
					</form></div>
			</td>
			</tr>
			
		</table>

		<div>
			<a class="btn btn-sm btn-success" th:href="@{/opera}">Aggiungi opera</a>
		</div>
		<p>
			<a th:href="@{/adminpage}">Return to main page</a>
		</p>
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>