<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Layout</title>
</head>
<body>
	<h1>Lista Autori</h1>
	<table>
		<tr>
			<th>Nome</th>
			<th>Cognome</th>
			<th>Nazionalità</th>
			<th>Data Nascita</th>
			<th>Data Morte</th>
		</tr>
		<tr th:each="opera: ${opere}">
			<td th:text="${opera.id}"></td>
			<td th:text="${opera.titolo}"></td>
			<td th:text="${opera.anno}"></td>
			<td th:text="${opera.tecnica}"></td>
			<td th:text="${opera.dimensione}"></td>
			<td th:text="${opera.autore}"></td>
			<td><a th:href="@{/opera/edit/{id}(id=${opera.id})}">Modifica</a></td>
			<td><a th:href="@{/autore/delete/{id}(id=${opera.id})}">Cancella</a></td>
		</tr>
		</table>
		<div>
			<a class="btn btn-sm btn-success" th:href="@{/autore/add}">Aggiungi</a>
		</div>
		<p>
			<a href="prelayout.html" th:href="@{/prelayout}">Return to Layout</a>
		</p>
</body>
</html>